<form (submit)="add()">
  <div mat-dialog-content style="overflow: hidden">
    <p>הוסף מוצר</p>
    <mat-form-field appearance="fill">
      <mat-label>שם המוצר</mat-label>
      <input matInput name="name" [(ngModel)]="product.name" required />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>מחיר</mat-label>
      <input
        type="number"
        matInput
        name="price"
        [(ngModel)]="product.price"
        required
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>קטגוריה</mat-label>
      <mat-select name="city" required [(ngModel)]="product.category_ID">
        <mat-option *ngFor="let c of categories" [value]="c.id" required>
          {{ c.category_Name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <label for="image">תמונה</label>
    <input
      type="file"
      id="image"
      name="image"
      accept="image/*"
      required
      (change)="saveImage($event)"
    />
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">ביטול</button>
    <button mat-button cdkFocusInitial [disabled]="">אישור</button>
  </div>
</form>
