@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html,
body {
  margin: 0;
  padding: 0;
  height: 98%;
  text-align: center;
  font-style: initial;
  align-items: center;
  overflow: hidden;
  /* background-image: url("../src/assets/background.jpg"); */
  background-size: cover;

}

a {
  color: blue;
}

.box {
    display: inline-block;
    text-align: left;
    border: 1px solid black;
    padding: 0 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.table[_ngcontent-kgr-c198]{
  height: 300px;
  overflow-y: scroll;

}

::ng-deep .text-highlight {
  background: yellow;
}
